Download data from Energi Data Service:
=======================
https://www.energidataservice.dk/tso-electricity/Elspotprices

In [19]:
import requests
import pandas as pd

In [20]:
def get_energydata(url):
    response = requests.get(url)
    res = response.json()

    # Extract the records
    data = res.get('records', [])

    # Convert the records into a DataFrame
    df = pd.DataFrame(data)
    
    return df

In [7]:
# define url and parameters
base_url = 'https://api.energidataservice.dk/dataset/Elspotprices?offset=0'
start_date = '2011-01-01T00:00'
end_date = '2024-10-01T00:00'
area = 'DK1'

https://api.energidataservice.dk/dataset/Elspotprices?offset=0&filter={"PriceArea":["DK1"]}&start=2011-01-01T00:00&end=2024-10-01T00:00

In [21]:
# create the url
url = f'{base_url}&filter={{"PriceArea":["{area}"]}}&start={start_date}&end={end_date}'

# download the data
energydata = get_energydata(url)

In [22]:
energydata

,HourUTC,HourDK,PriceArea,SpotPriceDKK,SpotPriceEUR
0,2024-09-30T21:00:00,2024-09-30T23:00:00,DK1,73.370003,9.840000
1,2024-09-30T20:00:00,2024-09-30T22:00:00,DK1,149.199997,20.010000
2,2024-09-30T19:00:00,2024-09-30T21:00:00,DK1,163.509995,21.930000
3,2024-09-30T18:00:00,2024-09-30T20:00:00,DK1,270.660004,36.299999
4,2024-09-30T17:00:00,2024-09-30T19:00:00,DK1,273.119995,36.630001
...,...,...,...,...,...
120522,2011-01-01T03:00:00,2011-01-01T04:00:00,DK1,2.530000,0.340000
120523,2011-01-01T02:00:00,2011-01-01T03:00:00,DK1,-11.400000,-1.530000
120524,2011-01-01T01:00:00,2011-01-01T02:00:00,DK1,-11.400000,-1.530000
120525,2011-01-01T00:00:00,2011-01-01T01:00:00,DK1,13.640000,1.830000
120526,2010-12-31T23:00:00,2011-01-01T00:00:00,DK1,2.380000,0.320000